<ion-header>
  <ion-navbar>
    <ion-title>Novo Curso</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="registrarCurso(); $event.preventDefault()">
    <ion-item>
      <ion-label stacked>Descricao*</ion-label>
      <ion-input formControlName="descricao" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.descricao.dirty && formGroup.controls.descricao.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label stacked>Data Inicio*</ion-label>
      <ion-input formControlName="dataInicio" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.dataInicio.dirty && formGroup.controls.dataInicio.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label stacked>Data Final*</ion-label>
      <ion-input formControlName="dataTermino" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.dataTermino.dirty && formGroup.controls.dataTermino.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label stacked>Quantidade de Alunos</ion-label>
      <ion-input formControlName="quantidadeAlunos" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Categoria*</ion-label>      
      <ion-select formControlName="categoria">
        <ion-option *ngFor="let categoria of categorias" [value]="categoria">{{categoria.descricao}}</ion-option>
      </ion-select>
    </ion-item>    
    <button ion-button block type="submit" [disabled]="formGroup.invalid">Adicionar Curso</button>
  </form>
</ion-content>
